.header{
    background-color: #2f364a;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 100;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: 900;
    color: #fefefe;
}

.header a {
    outline:none;
    text-decoration:none;
    color: #fefefe;
}

.header .title a {
    font-size: 28pt;
    margin-top: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #fefefe;
    display: block;
    outline:none;
    text-decoration:none;
}

.header .loginbuttons {
    margin-top: 18px;
}

.header .location {
    margin-top: 20px;
}

.header li {
    display: inline;
    margin: 2px;
}

.header img {
    width: 30px;
    height: 30px;
}

