.playbar {
    position:fixed;
    left:0;
    bottom:0;
    height:100px;
    width:100%;
    background:#2f364a;
    z-index: 100;
    text-align: center;
    color: #fff;
}

.playbar .playBarSubContainer{
    width: 80%;
    margin: auto;
}

.playbar .controlSection{
    width: 180px;
    height: 100px;
    margin: auto;
    float: left;
    padding-top: 25px;
}

.playPauseButton{
    background-color: transparent;
    border-style: solid;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.playPauseButton:hover{
    color: #b6b6b9;
    border-color: #b6b6b9;
}
.playPauseButton:focus {
    outline:0;
}
.glyphicon.glyphicon-play {
    font-size: 25px;
}
.glyphicon.glyphicon-pause {
    font-size: 25px;
    animation: fade-in 1s;
}

@keyframes fade-in{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navigateButton{
    background-color: transparent;
    border-style: solid;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.navigateButton:hover{
    color: #b6b6b9;
    border-color: #b6b6b9;
}
.navigateButton:focus {
    outline:0;
}

.playbar .barSection{
    height: 100px;
    margin: auto;
    margin-left: 180px;
    padding-top: 25px;
}

.playbar #songTitleLabel{
    padding-bottom: 6px;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
}