.playbar {
    position:fixed;
    left:0;
    bottom:0;
    height:100px;
    width:100%;
    background:#2f364a;
    z-index: 100;
    text-align: center;
    color: #fff;
}

.playbar .buttons {
    padding-top: 15px;
}