{% extends 'page.html.twig' %}

{% block pagebody %}
    <div id="createPlaylistBox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Create Playlist</div>
            </div>
            <div style="padding-top:30px" class="panel-body" >
                <!-- <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div> -->

                <form id="CreatePlaylistForm" class="form-horizontal" role="form">

                    <div style="margin-bottom: 10px" class="input-group">
                        <input id="playlistName" type="text" class="form-control" name="playlistName" value="" placeholder="Name of playlist">
                    </div>

                    <div style="margin-top:10px" class="form-group">

                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <a id="btn-createPlaylist"  href="#" class="btn btn-success">Create Playlist  </a>
                        </div>
                    </div>

                    <div style="margin-bottom: 10px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                        <input id="songURL" type="url" class="form-control" name="songURL" placeholder="URL of song">
                    </div>
                        <!-- Button -->
                    <div style="margin-bottom: 25px" class="input-group">
                    <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>


                </form>
            </div>
        </div>
    </div>


{% endblock %}