{% extends 'base.html.twig' %}



{% block title %}Beat Machine - Feed{% endblock %}


{% block body %}
    <div class="feed">

        {#<div class="locationLabel" style="margin-top: 120px;">Playlists from {{ location }}</div>#}

        <a class="createPlaylistButton"{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}onclick="createPlaylist()"{% else %}href="/login"{% endif %}>
            <div class="createPlaylistButtonIcon" ></div>
            <div class="createPlaylistButtonText">Create Playlist</div>
        </a>

        <div class="modeSelector">
            <a class="modeItem {% if mode=='top' %}modeItemActive{% endif %}"  href="./?mode=top">Popular</a>
            <a class="modeItem {% if mode=='new' %}modeItemActive{% endif %}" href="./?mode=new">New Releases</a>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="modeItem {% if mode=='favourites' %}modeItemActive{% endif %}" href="./?mode=favourites">Favourites</a>
            {% endif %}
        </div>

        {% for playlist in playlists %}
            {% set a = loop.index0%}
            {% set numberSongsToShow = 6 %}
            {% if location == 'Bath, UK' %}
                {% set showScore = true %}
            {% else %}
                {% set showScore = false %}
            {% endif %}
            {% include 'playlistCard.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}



{% block javascripts %}
    {% include 'feedScripts.js.twig' %}
{% endblock %}