{% extends 'page.html.twig' %}

{% block title %}BeatMachine - Playlist Management{% endblock %}

{% block pagebody %}
    <h1>hfghgf</h1>
    <h1>hfghgf</h1>
    <h1>hfghgf</h1>
    <h1>hfghgf</h1>
    <h1>hfghgf</h1>
    <h1>hfghgf</h1>
    <h1>hfghgf</h1>
{% endblock %}