{% extends 'page.html.twig' %}

{% block title %}BeatMachine - Playlist Management{% endblock %}

{% block pagebody %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.id == playlistID %}
        <h1>Playlist management</h1>
    {% else %}
        <h1>You do not have permission to edit this playlist</h1>
    {% endif %}
{% endblock %}