
{% extends 'base.html.twig' %}

{% block body %}
    <div class="profileOuterBlock">
        <div class="profileInnerBlock">
            <div class="playlistCollection">

                <div class="playlistCollectionTitle">Log in <br> {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}</div>

                <div class="loginform">
                    <form action="{{ path('login') }}" method="post">
                        <table id="theform">
                            <tr>
                                <td><label for="username">Username:</label></td>
                                <td><input type="text" id="username" name="_username" value="{{ last_username }}" /></td>
                            </tr>
                            <tr>
                                <td><label for="password">Password:</label></td>
                                <td><input type="password" id="password" name="_password" /></td>
                            </tr>
                            {#
                                If you want to control the URL the user
                                is redirected to on success (more details below)
                                <input type="hidden" name="_target_path" value="/account" />
                            #}
                            <tr><td><button type="submit">login</button></td><td></td></tr>
                        </table>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    <style>
        body{
            background: #eeeeee;
        }
        input {
            width: 300px;
        }
        #theform {
            width: 100%;
        }
        .profileOuterBlock{
            width:50%;
            /*max-width: 800px;*/
            margin: 0 auto;
            margin-top: 150px;
            margin-bottom: 55px;
            background-color: #fefefe;
            position: relative;
            padding: 30px;
        }
        .profileInnerBlock{
            width: 60%;
            min-width: 500px;
            margin: 0 auto;
        }
        .loginform {
            text-align: center;
        }
        .profileHeader{
            height: 150px;
            position: relative;
            margin-bottom: 20px;
        }
        .profilePicture{
            height: 100%;
            position: relative;
            float: left;
            margin-right: 7%;
        }
        .profileName{
            position: relative;
            margin-top: 10px;
            margin-bottom: 20px;

            font-family: 'Lato', sans-serif;
            font-size: 20pt;
            font-weight: 900;
            color: #2f364a;
        }
        .profileInfo{
            position: relative;
            margin-top: 12px;

            font-family: 'Lato', sans-serif;
            font-size: 15pt;
            color: #8f8f92;
        }
        .counter{
            margin-right: 9px;

            font-family: 'Lato', sans-serif;
            font-weight: 900;
            color: #ff5500;
        }
        .playlistCollection{
            margin-top: 40px;
        }
        .playlistCollectionTitle{
            text-align: center;
            margin: 40px;

            font-family: 'Lato', sans-serif;
            font-size: 17pt;
            font-weight: 900;
            color: #5e5e61;
        }
    </style>
{% endblock %}